In [1]:
import mysql.connector
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Database connection settings
DB_CONFIG = {
    'host': os.getenv('MYSQL_HOST', 'localhost'),
    'port': int(os.getenv('MYSQL_PORT', 3307)),
    'user': os.getenv('MYSQL_USER', 'admin'),
    'password': os.getenv('MYSQL_PASSWORD', '^Fymx^r4'),
    'database': os.getenv('MYSQL_DATABASE', 'all-things-metal'),
    'use_pure': True,  # Use pure Python implementation (fixes auth plugin issues)
    'auth_plugin': 'mysql_native_password'  # Explicitly specify auth plugin
}

print(f"Connecting to: {DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['database']}")

Connecting to: localhost:3307/fabrication

In [2]:
def run_query(query, params=None):
    """
    Execute a SQL query and return results as a pandas DataFrame.
    
    Args:
        query: SQL query string
        params: Optional tuple of parameters for parameterized queries
    
    Returns:
        pandas DataFrame with query results
    """
    try:
        conn = mysql.connector.connect(**DB_CONFIG)
        df = pd.read_sql(query, conn, params=params)
        conn.close()
        return df
    except mysql.connector.Error as err:
        print(f"Database error: {err}")
        return None

def get_connection():
    """
    Get a database connection for manual operations.
    Remember to close the connection when done.
    """
    return mysql.connector.connect(**DB_CONFIG)

In [17]:
# Search for tables containing a keyword
KEYWORD = 'itemstations'  # Change this to search for different tables

search_query = f"SHOW TABLES LIKE '%{KEYWORD}%'"
matching_tables = run_query(search_query)
if matching_tables is not None:
    print(f"Tables containing '{KEYWORD}':")
    display(matching_tables)

Tables containing 'itemstations':

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

              Tables_in_fabrication (%itemstations%)
0                      productioncontrolitemstations
1                   productioncontrolitemstationslog
2                productioncontrolitemstationsummary
3  productioncontrolitemstationsummaryinstancenum...
4             productioncontrolitemstationsummarylog

In [19]:
search_query = f"DESCRIBE productioncontrolitemstationsummary"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

,Field,Type,Null,Key,Default,Extra
0,ProductionControlItemStationSummaryID,bigint,NO,PRI,None,auto_increment
1,ProductionControlItemID,bigint,NO,MUL,None,
2,ProductionControlID,mediumint,NO,,None,
3,SequenceID,bigint,NO,,None,
4,StationID,mediumint,NO,,None,
5,StationType,tinyint,YES,,0,
6,PositionInRoute,int,YES,,None,
7,TotalQuantity,int,NO,,None,
8,QuantityCompleted,int,NO,,None,
9,Hours,"decimal(35,15)",NO,,None,
10,LastDateCompleted,date,YES,,None,
11,FailedInspectionTestQuantity,int,NO,,None,
12,PreviousStationID,mediumint,YES,,None,
13,PreviousStationQuantityCompleted,int,YES,,None,
14,NextStationID,mediumint,YES,,None,
15,NextStationQuantityCompleted,int,YES,,None,
16,ProductionLengthEach,"decimal(35,15)",NO,,None,
17,ProductionSquareMetersEach,"decimal(35,15)",NO,,None,
18,ProductionWeightEach,"decimal(35,15)",NO,,None,
19,ProductionGrossWeightEach,"decimal(35,15)",NO,,None,
20,ProductionModelWeightEach,"decimal(35,15)",YES,,None,
21,ProductionSurfaceAreaEach,"decimal(35,15)",NO,,None,

In [5]:
search_query = f"DESCRIBE timerecordsubjects"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

                 Field          Type Null  Key Default           Extra
0  TimeRecordSubjectID  int unsigned   NO  PRI    None  auto_increment
1          SubjectHash    binary(20)   NO  UNI    None

In [6]:
search_query = f"DESCRIBE timerecordsubjects"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

                 Field          Type Null  Key Default           Extra
0  TimeRecordSubjectID  int unsigned   NO  PRI    None  auto_increment
1          SubjectHash    binary(20)   NO  UNI    None

In [7]:
search_query = f"DESCRIBE scheduletasktimerecords"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

            Field          Type Null  Key Default Extra
0  ScheduleTaskID  int unsigned   NO  PRI    None
1    TimeRecordID  int unsigned   NO  PRI    None

In [8]:
search_query = f"SHOW TABLES LIKE '%employee%'"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

Empty DataFrame
Columns: [Tables_in_fabrication (%employee%)]
Index: []

In [9]:
search_query = f"SHOW TABLES LIKE '%project%'"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

                  Tables_in_fabrication (%project%)
0                                  externalprojects
1                               externalprojectslog
2                               externalprojectsync
3                         projectbudgetinvoiceitems
4                      projectbudgetinvoiceitemslog
5                             projectbudgetinvoices
6                          projectbudgetinvoiceslog
7                                projectbudgetitems
8                             projectbudgetitemslog
9                                    projectbudgets
10                                projectbudgetslog
11                            projectchecklistitems
12                         projectchecklistitemslog
13                                     projectfirms
14                                  projectfirmslog
15                                         projects
16                                      projectslog
17                             projecttasklistitems
18                          projecttasklistitemslog
19                          projecttransmittalitems
20                       projecttransmittalitemslog
21                       projecttransmittalpurposes
22                    projecttransmittalpurposeslog
23                  projecttransmittalstandardtexts
24               projecttransmittalstandardtextslog
25  tempinventorylistofchangesprojectsummarydetails
26               tempinventoryprojectsummarydetails
27                        tempprojectchecklistitems
28                                     tempprojects
29                        tempprojectsummarydetails
30                         tempprojecttasklistitems
31                 variablescompanystandardsproject
32              variablescompanystandardsprojectlog

In [10]:
search_query = f"SHOW TABLES LIKE '%station%'"
run_query(search_query)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

                    Tables_in_fabrication (%station%)
0         productioncontrolitemstationinstancenumbers
1                       productioncontrolitemstations
2                    productioncontrolitemstationslog
3                 productioncontrolitemstationsummary
4   productioncontrolitemstationsummaryinstancenum...
5              productioncontrolitemstationsummarylog
6                                       routestations
7                                    routestationslog
8                                  stationlaborgroups
9                               stationlaborgroupslog
10                                           stations
11                                        stationslog
12                 tempproductioncontrolroutestations
13             tempproductioncontrolstationexceptions
14                      tempproductioncontrolstations

In [11]:
run_query("SHOW TABLES LIKE '%user%'")

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

                       Tables_in_fabrication (%user%)
0                                 tempuserpermissions
1                                          useraccess
2                                     userfilteritems
3                                         userfilters
4                                      userformlayout
5                                       userformstate
6                               userpermissiondetails
7                                     userpermissions
8                                     userpreferences
9                                  userpreferenceslog
10                          userrolepermissiondetails
11                                userrolepermissions
12                                          userroles
13                                       userroleslog
14                                              users
15                                       usersessions
16                                           userslog
17              variablesuserchangeorderdisplayfields
18                variablesuserchangeorderinputfields
19              variablesusercombinationdisplayfields
20                variablesusercombinationinputfields
21                  variablesuserdrawingdisplayfields
22                    variablesuserdrawinginputfields
23                 variablesuserestimatedisplayfields
24                   variablesuserestimateinputfields
25                variablesuserinventorydisplayfields
26         variablesuserinventoryhistorydisplayfields
27           variablesuserinventoryhistoryinputfields
28                  variablesuserinventoryinputfields
29             variablesuserjournalentrydisplayfields
30               variablesuserjournalentryinputfields
31                       variablesusermenuoptiontypes
32               variablesuserorderentrydisplayfields
33                 variablesuserorderentryinputfields
34      variablesuserorderentryinventorydisplayfields
35        variablesuserorderentryinventoryinputfields
36        variablesuserproductioncontroldisplayfields
37          variablesuserproductioncontrolinputfields
38            variablesuserpurchaseorderdisplayfields
39              variablesuserpurchaseorderinputfields
40  variablesuserpurchaseordersubcontractdisplayfi...
41   variablesuserpurchaseordersubcontractinputfields
42    variablesuserrequestforinformationdisplayfields
43      variablesuserrequestforinformationinputfields
44              variablesuserrequisitiondisplayfields
45                variablesuserrequisitioninputfields
46              variablesusertransmittaldisplayfields
47                variablesusertransmittalinputfields

In [12]:
run_query("DESCRIBE users")

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

,Field,Type,Null,Key,Default,Extra
0,UserID,bigint,NO,PRI,None,auto_increment
1,Username,varchar(255),YES,MUL,None,
2,LastName,varchar(255),YES,,None,
3,FirstName,varchar(255),YES,,None,
4,UserGroup,varchar(255),YES,,None,
5,TrimbleIdentityAccount,varchar(255),YES,,None,
6,LastTrimbleIdentityLogin,int unsigned,YES,,None,
7,HasAdministrativePermission,tinyint(1),YES,,None,
8,UserRoleID,bigint,YES,,None,
9,ExternalUser,tinyint(1),YES,,None,
10,ProductionUser,tinyint(1),YES,,None,
11,FirmContactID,bigint,YES,MUL,None,
12,PasswordHash,varchar(255),YES,,None,
13,UserDetails,mediumtext,YES,,None,
14,ObsoletePassword,tinyint(1),NO,,None,
15,DateCreated,date,YES,,None,
16,DateValidated,date,YES,,None,
17,PermissionUpdateCount,int,NO,,None,
18,HasLoginPermission,tinyint(1),NO,,None,
19,HasRLPermission,tinyint(1),NO,,None,
20,HasViewLicense,tinyint(1),YES,,None,
21,ViewLicenseLastRemoved,int unsigned,YES,,None,
22,Active,tinyint(1),YES,,None,
23,UserGUID,varchar(36),YES,,None,

In [13]:
run_query("""
      SELECT
          tr.TimeRecordID,
          tr.ProjectID,
          tr.EmployeeUserID,
          tr.StartDate,
          tr.RegularHours,
          tr.OvertimeHours,
          tr.TimeRecordSubjectID,
          tr.InProgress
      FROM timerecords tr
      LIMIT 10
  """)

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

,TimeRecordID,ProjectID,EmployeeUserID,StartDate,RegularHours,OvertimeHours,TimeRecordSubjectID,InProgress
0,1,4,7.0,2022-08-30,2.00,1.0,1,0
1,2,4,10.0,2022-08-30,2.00,1.0,1,0
2,3,61,NaN,2022-12-07,100.00,0.0,2,0
3,4,61,31.0,2022-12-08,0.10,0.0,1,0
4,5,34,12.0,2022-12-08,0.17,0.0,2,0
5,6,61,12.0,2022-12-08,0.12,0.0,3,0
6,7,61,12.0,2022-12-08,0.02,0.0,3,0
7,19,27,42.0,2023-02-15,0.52,0.0,12,0
8,20,27,42.0,2023-02-15,1.73,0.0,13,0
9,21,27,42.0,2023-02-15,1.37,0.0,14,0

In [14]:
run_query("SELECT * FROM projects LIMIT 1")

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

,ProjectID,JobNumber,JobDescription,JobLocation,JobStatusID,JobDate,CustomerPONumber,DrawingNumberInputTypeID,DrawingFilePrefix,DrawingFileSuffix,UpdateProductionControlApprovalStatus,GroupName,GroupName2,LastReleaseNumber,CurrentScheduleBaselineID,ExternalProjectID,ProjectSightExternalProjectID,ERPJobNumber,CostCenter
0,6,21024,Raintree Apartments,"8555 E. Raintree Dr., Scottsdale, Arizona 85260",2,2022-06-02,SC-S122500-010,13,None,None,1,Derek,Apartments,29.0,6,69,None,21024,None

In [15]:
run_query("SELECT * FROM stations LIMIT 10")

C:\Users\nickb\AppData\Local\Temp\ipykernel_18380\630592994.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=params)

,StationID,StationNumber,StationType,Description,CostCodeID,CostTypeID,DepartmentID,XCoord,YCoord,Width,Height,Size
0,1,10,0,1-Cut/Saw,None,None,1.0,30,90,50,50,Medium
1,2,20,0,QC Fitup Ins,None,None,1.0,120,90,50,50,Medium
2,3,30,0,Final QC,None,None,1.0,200,90,50,50,Medium
3,6,50,1,a-On site,None,None,NaN,0,0,30,30,None
4,7,60,1,b-Erected,None,None,NaN,30,0,30,30,None
5,8,70,0,Material Handling,None,None,1.0,0,350,30,30,None
6,9,71,0,Rework Own,None,None,1.0,30,350,30,30,None
7,10,72,0,Rework Others,None,None,1.0,60,350,30,30,None
8,11,73,0,Time n Material,None,None,1.0,90,350,30,30,None
9,12,74,0,Paint/Primer,None,None,1.0,0,30,30,30,None